<div class="column-3 p-5 text-xl font-semibold flex">
    <div class="column-2 flex">
        <h1>Dashboard</h1>
        <fa-icon [icon]="faAngleRight" class="mx-3 text-gray-500"></fa-icon>
    </div>
    <div class="column-2 flex">
        <div class="py-1 border border-regal-blue rounded-lg">
            <fa-icon [icon]="faBell" class="mx-3 text-regal-blue"></fa-icon>
        </div>
    </div>
    <div class="column-2 flex border border-regal-blue rounded-lg">
        <div class="column-1">
            <fa-icon [icon]="faChevronDown" class="mx-3 text-regal-blue text-sm"></fa-icon>
        </div>
        <div class="column-1 mr-4">
            <p class="text-sm">Faisal Iqbal</p>
            <p class="text-xs text-gray-500">TDI-2</p>
        </div>
    </div>
</div>