<div class="p-5 text-xl font-semibold">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-start-1 flex">
            <h1 class="text-gray-900">Dashboard</h1>
            <fa-icon [icon]="faAngleRight" class="mx-3 text-gray-500"></fa-icon>
        </div>
        <div class="col-end-7 flex">
            <div class="py-1 mr-3 border border-regal-blue rounded-lg">
                <fa-icon [icon]="faBell" class="mx-3 text-regal-blue"></fa-icon>
            </div>
            <div class="dropdown">
                <button tabindex="0" class="relative column-3 flex border border-regal-blue rounded-r-full">
                    <div class="column-1">
                        <fa-icon [icon]="faChevronDown" class="mx-3 text-regal-blue text-sm"></fa-icon>
                    </div>
                    <div class="column-1 mr-4 text-right">
                        <p class="text-sm text-gray-900">Faisal Iqbal</p>
                        <p class="text-xs text-gray-500">TDI-2</p>
                    </div>
                    <div class="columns-1">
                        <img src="https://st3.depositphotos.com/1767687/16607/v/450/depositphotos_166074422-stock-illustration-default-avatar-profile-icon-grey.jpg"
                            class="w-10 h-10 rounded-full" alt="">
                    </div>
                </button>
                <ul tabindex="0" class="dropdown-content text-sm text-gray-900 menu p-2 mt-2 shadow bg-white rounded-lg w-max">
                    <li><a><fa-icon [icon]="faRightFromBracket" class="mx-1 text-danger text-sm"></fa-icon> <p class="text-danger">Logout</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>