<div class="px-0 ml-5 rounded-lg drop-shadow-md" style="width: 90vw;">
    <div class="static bg-white rounded-lg p-5">
        <div class="grid grid-cols-3 gap-4 p-4">
            <div class="flex">
                <a routerLink="/dashboard"
                    class="text-regal-blue p-2 rounded-lg focus:bg-regal-blue focus:text-white border border-regal-blue hover:bg-regal-blue hover:text-white hover:border-white">
                    <fa-icon [icon]="faArrowLeft" class="mr-1"></fa-icon> Back</a>
            </div>
            <h1 class="text-lg font-semibold text-gray-900 text-center">Create SP Document</h1>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="form-control w-full px-4 py-1">
                <label class="label">
                    <span class="label-text text-gray-900">Sender Nopeg</span>
                </label>
                <input type="text"
                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            </div>
            <div class="form-control w-full px-4 py-1">
                <label class="label">
                    <span class="label-text text-gray-900">Sender Name</span>
                </label>
                <input type="text"
                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            </div>
            <div class="form-control w-full px-4 py-1">
                <label class="label">
                    <span class="label-text text-gray-900">Sender Unit</span>
                </label>
                <input type="text"
                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            </div>
            <div class="form-control w-full px-4 py-1">
                <label class="label">
                    <span class="label-text text-gray-900">Sender Date</span>
                </label>
                <input type="date"
                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            </div>
            <div class="form-control w-full px-4 py-1">
                <label class="label">
                    <span class="label-text text-gray-900">Receiver</span>
                </label>
                <input type="text"
                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            </div>
        </div>
        <div class="px-4 mt-10">
            <div class="collapse">
                <input type="checkbox" />
                <div class="collapse-title p-0">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="col-start-1 text-gray-900 font-semibold text-lg">
                            <h1>Document</h1>
                        </div>
                        <div class="col-end-7">
                            <button
                                class="text-regal-blue p-2 rounded-lg focus:bg-regal-blue focus:text-white border border-regal-blue hover:bg-regal-blue hover:text-white hover:border-white">
                                <fa-icon [icon]="faChevronDown" class="mr-1"></fa-icon> Hide / Show</button>
                        </div>
                    </div>
                </div>
                <div class="collapse-content p-0">
                    <div class="row mb-5 text-gray-900">
                        <hr>
                    </div>
                    <div class="flex">
                        <div class="w-fit">
                            <div class="form-control w-full px-2">
                                <label class="label">
                                    <span class="label-text text-gray-900">QTY</span>
                                </label>
                                <input type="text"
                                    class="w-14 bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="form-control w-full px-2">
                                <label class="label">
                                    <span class="label-text text-gray-900">Description</span>
                                </label>
                                <input type="text"
                                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="form-control w-full px-2">
                                <label class="label">
                                    <span class="label-text text-gray-900">Remark</span>
                                </label>
                                <input type="text"
                                    class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                            </div>
                        </div>
                        <div class="w-fit">
                            <div class="form-control w-full px-2">
                                <label class="label">
                                    <span class="label-text text-gray-900">Action</span>
                                </label>
                                <button
                                    class="w-fit border border-regal-blue text-white py-2 px-3 rounded-lg bg-regal-blue hover:bg-white hover:text-regal-blue hover:border hover:border-regal-blue">
                                    Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="mt-10 w-full">
                            <thead>
                                <tr class="bg-soft-blue text-gray-900">
                                    <th class="py-3">No.</th>
                                    <th class="py-3">QTY</th>
                                    <th class="py-3">Description</th>
                                    <th class="py-3">Remark</th>
                                    <th class="py-3">Action</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr class="bg-white text-gray-900">
                                    <td class="py-2 text-center">01</td>
                                    <td class="py-2 text-center">1</td>
                                    <td class="py-2 text-center">Job Card</td>
                                    <td class="py-2 text-center">Doc Only</td>
                                    <td class="py-2 text-center">
                                        <label for="my-modal-3"
                                            class="btn py-0 px-5 text-base mx-1 rounded-lg bg-white border border-success text-success hover:border hover:border-white hover:bg-success hover:text-white">
                                            <fa-icon [icon]="faPenSquare"></fa-icon>
                                        </label>
                                        <label
                                            class="btn py-0 px-5 text-base mx-1 rounded-lg bg-white border border-danger text-danger hover:border hover:border-white hover:bg-danger hover:text-white">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </label>
                                    </td>
                                </tr>
                                <tr class="bg-white text-gray-900">
                                    <td class="py-2 text-center">01</td>
                                    <td class="py-2 text-center">1</td>
                                    <td class="py-2 text-center">Job Card</td>
                                    <td class="py-2 text-center">Doc Only</td>
                                    <td class="py-2 text-center">
                                        <label for="my-modal-3"
                                            class="btn py-0 px-5 text-base mx-1 rounded-lg bg-white border border-success text-success hover:border hover:border-white hover:bg-success hover:text-white">
                                            <fa-icon [icon]="faPenSquare"></fa-icon>
                                        </label>
                                        <label
                                            class="btn py-0 px-5 text-base mx-1 rounded-lg bg-white border border-danger text-danger hover:border hover:border-white hover:bg-danger hover:text-white">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="columns-2 mt-10 mb-0 w-full flex justify-center">
                            <button
                                class="mx-2 btn-wide border-regal-blue border-regal-blue border p-3 rounded-lg text-regal-blue hover:text-white hover:bg-regal-blue">Reset</button>
                            <button
                                class="mx-2 btn-wide bg-regal-blue p-3 hover:bg-white hover:text-regal-blue hover:border hover:border-regal-blue rounded-lg text-white">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>