<div class="container px-0 bg-white mx-5 my-5">
    <div class="grid grid-rows-2 grid-flow-col gap-2">
        <div class="grid grid-rows-1 grid-flow-col">
            <input type="text" placeholder="Search here..." class="block w-full px-3 py-2 bg-gray-50 border border-slate-300 rounded-l-lg text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
            <button class="bg-regal-blue text-white rounded-r-lg">Search</button>
        </div>
    </div>
</div>