<div class="px-0 ml-5 rounded-lg drop-shadow-md" style="width: 90vw;">
    <div class="static bg-white rounded-lg">
        <div class="grid grid-cols-2 gap-4 p-4">
            <div class="col-start-1 flex">
                <input type="text" placeholder="Search here..."
                    class="px-3 py-2 bg-gray-50 border border-slate-300 rounded-l-lg text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                <button
                    class="bg-regal-blue text-white rounded-r-lg p-2 hover:bg-white hover:text-regal-blue hover:border hover:border-regal-blue border">Search</button>
                <div class="flex justify-center">
                    <button
                        class="dropdown-toggle text-regal-blue p-2 ml-4 rounded-lg focus:bg-regal-blue focus:text-white border border-regal-blue hover:bg-regal-blue hover:text-white hover:border-white"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faSliders" class="mr-1"></fa-icon> Sort By
                    </button>
                    <ul class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none"
                        aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item text-sm py-2 px-4 font-normal block w-full bg-white text-gray-700 hover:bg-gray-100"
                                href="#">Sort By Date</a>
                            <div class="px-4">
                                <hr>
                            </div>
                            <a class="dropdown-item text-sm py-2 px-4 font-normal block w-full bg-white text-gray-700 hover:bg-gray-100"
                                href="#">Sort By Status</a>
                            <div class="px-4">
                                <hr>
                            </div>
                            <a class="dropdown-item text-sm py-2 px-4 font-normal block w-full bg-white text-gray-700 hover:bg-gray-100"
                                href="#">Sort By Shipping Number</a>
                            <div class="px-4">
                                <hr>
                            </div>
                            <a class="dropdown-item text-sm py-2 px-4 font-normal block w-full bg-white text-gray-700 hover:bg-gray-100"
                                href="#">Sort By Sending</a>
                            <div class="px-4">
                                <hr>
                            </div>
                            <a class="dropdown-item text-sm py-2 px-4 font-normal block w-full bg-white text-gray-700 hover:bg-gray-100"
                                href="#">Sort By Receiving</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-end-7 mt-2">
                <a class="p-3 ml-4 rounded-lg hover:bg-white hover:text-regal-blue hover:border-regal-blue hover:border text-white bg-regal-blue"
                    routerLink="/create-spdocument">
                    <fa-icon [icon]="faBookOpen" class="mr-1"></fa-icon> Create SP Document
                </a>
            </div>
        </div>
        <div class="flex columns-3 mt-2">
            <button (click)="getDataCard('%%')"
                class="flex column-2 w-1/3 p-2 hover:bg-gray-100 focus:bg-gray-100 py-5 px-5 hover:border-b-4 focus:border-b-4 hover:border-purple focus:border-purple rounded-lg">
                <fa-icon [icon]="faListSquares"
                    class="mr-1 text-3xl bg-medium-purple px-3 py-2 rounded-lg text-purple"></fa-icon>
                <div class="grid-rows-2 ml-3">
                    <h6 class="text-gray-400 mb-0">All</h6>
                    <h1 class="text-3xl font-bold text-purple hover:text-purple">{{ countAll }}</h1>
                </div>
            </button>
            <button (click)="getDataCard('Open')"
                class="flex column-2 w-1/3 p-2 hover:bg-gray-100 focus:bg-gray-100 py-5 px-5 hover:border-b-4 focus:border-b-4 hover:border-danger focus:border-danger rounded-lg">
                <fa-icon [icon]="faHourglassStart"
                    class="mr-1 text-3xl bg-gray-50 px-3 py-2 rounded-lg text-danger"></fa-icon>
                <div class="grid-rows-2 ml-3">
                    <h6 class="text-gray-400 mb-0">Open</h6>
                    <h1 class="text-3xl font-bold text-danger">{{ countOpen }}</h1>
                </div>
            </button>
            <button (click)="getDataCard('Delivered')"
                class="flex column-2 w-1/3 p-2 hover:bg-gray-100 focus:bg-gray-100 py-5 px-5 hover:border-b-4 focus:border-b-4 hover:border-success focus:border-success rounded-lg">
                <fa-icon [icon]="faCheck" class="mr-1 text-3xl bg-gray-50 px-3 py-2 rounded-lg text-success"></fa-icon>
                <div class="grid-rows-2 ml-3">
                    <h6 class="text-gray-400 mb-0">Delivered</h6>
                    <h1 class="text-3xl font-bold text-success">{{ countDelivered }}</h1>
                </div>
            </button>
        </div>
    </div>
    <div class="static">
        <div class="px-0 mt-5">
            <div class="grid gap-4 grid-cols-3 static">
                <!-- Card -->
                <div class="static w-full rounded-lg drop-shadow-md column-2 bg-white my-2 w-full py-5 px-5 rounded-lg" *ngFor="let row of data;">
                    <div class="columns-2 w-full flex items-stretch">
                        <div class="w-1/2">
                            <h1 class="text-2xl py-2 font-semibold">{{row.shipping_no}}</h1>
                        </div>
                        <div class="w-1/2 relative">
                            <div class="absolute inset-y-0 py-1 right-0">
                                <div *ngIf="row.status == 'Open'">
                                    <div class="px-4 py-2 bg-danger rounded-lg text-white">
                                        <h1 class="text-sm text-center font-semibold">{{row.status}}</h1>
                                    </div>
                                </div>
                                <div *ngIf="row.status == 'Delivered'">
                                    <div class="px-4 py-2 bg-success rounded-lg text-white">
                                        <h1 class="text-sm text-center font-semibold">{{row.status}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns-2 w-full flex items-stretch">
                        <div class="flex w-1/2">
                            <fa-icon [icon]="faUser" class="mr-1 text-sm py-2 rounded-lg text-gray-400"></fa-icon>
                            <h1 class="text-sm py-2 text-gray-400">Sending</h1>
                        </div>
                        <div class="relative w-1/2">
                            <div class="absolute flex inset-y-0 py-1 right-0">
                                <h1 class="text-sm py-2 text-gray-400 mr-1">Receiving</h1>
                                <fa-icon [icon]="faUser" class="mr-1 text-sm py-2 rounded-lg text-gray-400"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="columns-2 w-full flex items-stretch">
                        <div class="flex w-1/2">
                            <h1 class="text-base font-semibold">{{ row.sender_personal_name == null ?  '-' : row.sender_personal_name  }} / {{ row.sender_personal_number == null ? '-' : row.sender_personal_number}}</h1>
                        </div>
                        <div class="relative w-1/2">
                            <div class="absolute flex inset-y-0 py-1 right-0">
                                <h1 class="text-base font-semibold">{{ row.receiver_personal_name == "" ?  '-' : row.receiver_personal_name  }} / {{ row.receiver_personal_number == "" ? '-' : row.receiver_personal_number}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="columns-1 w-full text-center items-stretch">
                        <fa-icon [icon]="faArrowRightArrowLeft"
                            class="py-2 text-2xl rounded-lg text-regal-blue"></fa-icon>
                    </div>
                    <div class="columns-2 w-full flex items-stretch">
                        <div class="flex w-1/2">
                            <fa-icon [icon]="faCalendar" class="mr-1 text-sm py-2 rounded-lg text-gray-400"></fa-icon>
                            <h1 class="text-sm py-2 text-gray-400">Sending Date</h1>
                        </div>
                        <div class="relative w-1/2">
                            <div class="absolute flex inset-y-0 py-1 right-0">
                                <h1 class="text-sm py-2 text-gray-400 mr-1">Receive Date</h1>
                                <fa-icon [icon]="faCalendar" class="mr-1 text-sm py-2 rounded-lg text-gray-400"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="columns-2 w-full flex items-stretch">
                        <div class="flex w-1/2">
                            <h1 class="text-base font-semibold">{{ row.sender_date == null ? '-' : row.sender_date | date: 'fullDate' }}</h1>
                        </div>
                        <div class="relative w-1/2">
                            <div class="absolute flex inset-y-0 py-1 right-0">
                                <h1 class="text-base font-semibold">{{ row.receiver_date == null ?  '-' : row.receiver_date | date: 'fullDate'  }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="columns-2 mt-10 mb-0 w-full items-stretch">
                        <div class="flex">
                            <button type="button" (click)="showDocument(row.id_sp_data)"
                                class="w-full border-regal-blue border-regal-blue border p-3 rounded-lg text-regal-blue hover:text-white hover:bg-regal-blue">See
                                Letter</button>
                        </div>
                        <div class="relative">
                            <button for="my-modal" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                class="w-full bg-regal-blue p-3 hover:bg-white hover:text-regal-blue hover:border hover:border-regal-blue rounded-lg text-white text-center">Receive</button>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-header flex flex-shrink-0 items-center justify-center p-4 rounded-t-md">
                <h5 class="text-xl text-center font-medium leading-normal text-gray-800" id="exampleModalLabel">
                    Receive
                </h5>
            </div>
            <div class="modal-body relative p-4">
                <div class="form-control w-full px-4 py-1 mb-3">
                    <label class="label mb-4">
                        <span class="label-text text-gray-900 text-sm">ID Number</span>
                    </label>
                    <input type="text" placeholder="Please fill this..."
                        class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                </div>
                <div class="form-control w-full px-4 py-1 mb-3">
                    <label class="label mb-4">
                        <span class="label-text text-gray-900 text-sm">Password</span>
                    </label>
                    <input type="text" placeholder="Please fill this..."
                        class="bg-gray-100 rounded-lg text-gray-900 w-full px-4 py-3 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
                </div>
            </div>
            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md">
                <div class="columns-2 mt-5 mb-5 w-full flex justify-center">
                    <button type="button" data-bs-dismiss="modal"
                        class="mb-2 mx-2 w-48 inline-block border-regal-blue border-regal-blue border p-2 rounded-lg text-regal-blue hover:text-white hover:bg-regal-blue">Cancel</button>
                    <button type="button"
                        class="mb-2 mx-2 w-48 inline-block bg-regal-blue p-2 hover:bg-white hover:text-regal-blue hover:border hover:border-regal-blue rounded-lg text-white">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>